# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual env
venv/
venv_rmbg/
.venv/

# Outputs & temps
outputs/
.tmp/
outputspython3/
.tmp/

# Model weights / checkpoints
*.pth
*.onnx
refiner_ckpts/

# OS / editors
.DS_Store
*.swp
*.swo
.idea/
.vscode/

